<%- include('includes/admin/_header') %>
  <div class="container ">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem; min-height: 197px;">
              <div class="card-header text-center">Students & Faculty</div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <H6 class="card-text"><%= users.length %> </h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem; min-height: 197px;">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;min-height: 197px;">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header text-center">
        Lastest Students and Faculty
        
      </div> 
      <div class="card-body">
        <a href="/admin/students/new" class="btn btn-info">New Student</a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">New Announcement</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div>
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">Message:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
              </div>
            </div>
          </div>
        </div>
        <%- include('includes/_table') %>
      </div>
    </div>
  </div>
<%- include('includes/admin/_footer') %>