*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
/* ---------- Log in css ------------ */

.login-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.right-wing{
  background: #8DCBEE;
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-wing{
  background: #181818;
  height: 100vh;
  width: 50%;
}
.left-logo{
  height: 150px;
  width: auto;
  padding: 2rem;
}
.right-logo{
 height: 250px;
}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-label{
width: 109px;
height: 29px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #fff;
margin-left: 30px;
margin-top: 10px;
}
.login-input{
width: 461px;
height: 41px;
background: #C4C4C4;
outline: none;
border: none;
border-radius: 5px;
margin-left: 30px;
padding: 5px;
margin-bottom: 15px;
font-size: 0.90em;
}
.login-input:focus{
  background-color: #fff;
  color: #000;
}
.login-title{
  margin-left: 130px;
  width: 456px;
  height: 99px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 5em;
  font-size: 36px;
  line-height: 42px;
  color: white;
  text-align: center;
  margin-top: 30px;
}
.login-btn{
  margin-left: 30%;
  margin-top: 15px;
  width: 176px;
  height: 43px;
  border-radius: 13px;
  border: none;
  outline: none;
  background: #C4C4C4;
  color: #181818;
  text-transform: uppercase;
  cursor: pointer;
}
.login-btn:hover{
  background-color: #fff;
  color: #181818;
}
/* ------- X -- LOG IN -- X -------*/



/* ------- Home page ---------*/
/* -------- INDEX  -  HEADER ---------- */
.index-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
}
hr{
  width: 80%;
  border: 1px solid #fff;
  margin-top: 10px;
}
.index-brand{
  color: #fff;
}
.index-header{
  width: 100%;
  height: 150px;
  background: #8DCBEE;
  border-bottom: 2px solid #fff;
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar{
  height: 50px;
  width: 30%;
  margin-top: 10px;
}
ul{
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.navbar-brand{
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px;
  height: 38.5px;
  cursor: pointer;
  text-decoration: none;
}

/* -------    DROPDOWN     ----- */
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.navbar-brand:hover{
  background-color: #ddd;
  color: #181818;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
  color: #181818;
}
/* -----X----- DROPDOWN ------X-----*/
/* -----X--- INDEX  -  HEADER-------X ------*/

/* ---------- INDEX  -  BODY ------*/
.index-body{
  min-height: 100%;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #8DCBEE;
}
.body-header{
  height: 150px;
  display: flex;
  flex-direction: column;
}
.body-header-btn button{
  height: 3em;
  width: 10em;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #181818;
  color: #fff;
}
.body-header-btn{
  margin-top: 1%;
  align-self: center;
}
.body-header-title h1{
  padding: 3px;
  margin-top: 5px;
  margin-left: 2.50em;
}
.body-header-title{
  height: 75%;
  margin-top: 10px;
  color: #fff;
}
  .content-table {
    border-collapse: collapse;
    background-color: #8DCBEE;
    margin: 50px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
  }
  .table-main{
    display: flex;
    flex-direction: row;
    margin: 0 10%;
  }
  .table-sticky{
    position: sticky;
    top: 0;
  }
  .table-brand{
    padding: 10px;
    width: 285px;
    margin: 50px 0;
    color: #fff;
  }
  .content-table thead tr {
    background-color: #181818;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 1px solid #181818;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #fff;
  }

/* ----- X ---- INDEX - BODY ------X*/

/* --------- INDEX - FOOTER -------*/
.index-footer{
  background-color: #181818;
  color: #fff;
  padding: 20px;
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-brand{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-brand li{
  height: auto;
  width: 15em;
  margin-left: 20px;
  padding: 5px;
  font-size: 1em;
  list-style:disc;
}


/* -------X------ INDEX- FOOTER ----- X------*/


/* ------- X -- HOME PAGE -- X --------*/

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
}

.sidebar ul.nav a.nav-link {
  padding:0;
  margin:0;
}


.sidebar li {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar li.active{
  background-color: hsl(221, 61%, 66%);
  color: white;
}

.sidebar li.active a{
  color: white;
}

.sidebar li:hover:not(.active) {
  background-color: rgb(132, 148, 190);
  color: white;
}

.sidebar li a:hover:not(.active) {
  color: white;
}

.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
}

div.content {
  width: 100vw;
  margin-left: 200px;
  padding: 0;
  height: 100vh;
}

.main-content {
  padding: 20px;
}



@media print {
  .sidebar {
    display: none;
  }
  body *:not(#printable-area):not(#printable-area *){
    visibility: hidden;
    z-index: -1 !important;
    
  }
  .sidebar {
    display: none;
  }
  
  #printable-area, #printable-area *:not(#remove-print){
    visibility: visible;
  }
  #printable-area {
    z-index: 1 !important;
    position: absolute;
    top: -5em;
    left: 0;
  }
}