<!-- The sidebar -->
<div class="sidebar">
  <ul class="nav flex-column" ">
    <li class="nav-item <% if(path === 'admin'){ %>active <% }%>">
      <a class="nav-link" href="/admin"> Home </a>
    </li>
    <li class="nav-item  <% if(path === 'schoolyears'){ %>active <% }%>">
      <a class="nav-link" href="/admin/schoolyears"> School Year </a>
    </li>
    <li class="nav-item <% if(path === 'semesters'){ %>active <% }%>">
      <a class="nav-link" href="/admin/semesters"> Semesters</a>
    </li>
    
    <li class="nav-item <% if(path === 'courses'){ %>active <% }%>">
      <a class="nav-link  " href="/admin/courses"> Courses</a>
    </li>
    <li class="nav-item <% if(path === 'subjects'){ %>active <% }%>">
      <a class="nav-link" href="/admin/subjects"> Subjects</a>
    </li>
    <li class="nav-item <% if(path === 'students'){ %>active <% }%>">
      <a class="nav-link" href="/admin/students"> Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/classes"> Classes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/teachers"> Teachers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/admins"> Admins</a>
    </li>
    <!-- <li class="nav-item has-submenu">
      <a class="nav-link" href="#"> Students  </a>
      <ul class="submenu collapse">
        <li><a class="nav-link" href="/admin/students/new">New Student </a></li>
        <li><a class="nav-link" href="#">Update Student</a></li>
        <li><a class="nav-link" href="#">View Student</a> </li>
        <li><a class="nav-link" href="#">Delete Student</a> </li>
      </ul>
    </li>
    <li class="nav-item has-submenu">
      <a class="nav-link" href="#"> Faculty  </a>
      <ul class="submenu collapse">
        <li><a class="nav-link" href="#">View Member</a></li>
        <li><a class="nav-link" href="#">New Member </a></li>
        <li><a class="nav-link" href="#">Update Member </a></li>
        <li><a class="nav-link" href="#">Delete Member </a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> Something </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> Other link </a>
    </li> -->
  </ul>
</div>