<!--      Home  page     -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home page</title>
</head>
<body>
    <div class="index-container">
        <header class="index-header">
            <div class="index-brand">
                <h1 class="index-title">Zamboanga Peninsula Polytechnic State University</h1>
                <h1 class="index-title">School Management System</h1>
            </div>
            <hr>
            <nav class="navbar">
                <ul>
                    <a class="navbar-brand" href="">Home</a>
                    <a class="navbar-brand" href="">About</a>
                    <a class="navbar-brand" href="https://www.zcspc.edu.ph/category/news/">ZPPSU</a>
                    <div class="dropdown">
                        <button class="dropbtn">Profile</button>
                        <div class="dropdown-content">
                          <% if (currentUser.roles==="admin" || currentUser.roles==="superadmin") { %>
                            <a href="/admin">Admin</a>
                          <% } %>
                            <a href="/logout">Logout</a>
                        </div>
                      </div>
                </ul>
            </nav>
        </header>

        <div class="index-body">
            <div class="body-header">
                <div class="body-header-title">
                    <h1>Transcript of Record</h1>
                    <h1>Grades for the current semesters are not included.</h1>
                </div>
                <div class="body-header-btn">
                    <button>Printable Version</button>
                </div>
            </div>



            <div class="table-main">
                <div class="table-brand">
                    <div class="table-sticky">
                    <h1>SY 2016-2017</h1>
                    <h1>2ND SEMESTER</h1>
                    </div>
                </div>
            <table class="content-table">
                <thead>
                  <tr>
                    <th>Subject Code</th>
                    <th>Units</th>
                    <th>Subjects</th>
                    <th>Midterm</th>
                    <th>Final</th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="active-row">
                        <td>ACN221</td>
                        <td>3.0</td>
                        <td>Special Topics for Networking</td>
                        <td>1</td>
                        <td>1</td>
                      </tr>
                  <tr>
                    <td>ACN222</td>
                    <td>5.0</td>
                    <td>ACN Independent Project/Practicum</td>
                    <td>-</td>
                    <td>3</td>
                  </tr>
                  <tr class="active-row">
                    <td>CoE506</td>
                    <td>3.0</td>
                    <td>Computer Networks</td>
                    <td>F</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>CS222</td>
                    <td>4.0</td>
                    <td>Elementary Computer Programming |||</td>
                    <td>F</td>
                    <td>1.5</td>
                  </tr>
                  <tr class="active-row">
                    <td>Fil112n</td>
                    <td>3.0</td>
                    <td>Pagbasa at Pagsula tungo sa Pananaliksik</td>
                    <td>F</td>
                    <td>1.0</td>
                  </tr>
                  <tr>
                    <td>PE104</td>
                    <td>2.0</td>
                    <td>Group Sports</td>
                    <td>-</td>
                    <td>3.0</td>
                  </tr>
                  <tr class="active-row">
                    <td>RS112</td>
                    <td>3.0</td>
                    <td>The Catholic Church; Establish by Jesus Christ</td>
                    <td>WF</td>
                    <td>WF</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="table-main">
            <div class="table-brand">
                <div class="table-sticky">
                    <h1>SY 2016-2017</h1>
                    <h1>2ND SEMESTER</h1>
                </div>
            </div>
        <table class="content-table">
            <thead>
              <tr>
                <th>Subject Code</th>
                <th>Units</th>
                <th>Subjects</th>
                <th>Midterm</th>
                <th>Final</th>
              </tr>
            </thead>
            <tbody>
                <tr class="active-row">
                    <td>ACN221</td>
                    <td>3.0</td>
                    <td>Special Topics for Networking</td>
                    <td>1</td>
                    <td>1</td>
                  </tr>
              <tr>
                <td>ACN222</td>
                <td>5.0</td>
                <td>ACN Independent Project/Practicum</td>
                <td>-</td>
                <td>3</td>
              </tr>
              <tr class="active-row">
                <td>CoE506</td>
                <td>3.0</td>
                <td>Computer Networks</td>
                <td>F</td>
                <td>3</td>
              </tr>
              <tr>
                <td>CS222</td>
                <td>4.0</td>
                <td>Elementary Computer Programming |||</td>
                <td>F</td>
                <td>1.5</td>
              </tr>
              <tr class="active-row">
                <td>Fil112n</td>
                <td>3.0</td>
                <td>Pagbasa at Pagsula tungo sa Pananaliksik</td>
                <td>F</td>
                <td>1.0</td>
              </tr>
              <tr>
                <td>PE104</td>
                <td>2.0</td>
                <td>Group Sports</td>
                <td>-</td>
                <td>3.0</td>
              </tr>
              <tr class="active-row">
                <td>RS112</td>
                <td>3.0</td>
                <td>The Catholic Church; Establish by Jesus Christ</td>
                <td>WF</td>
                <td>WF</td>
              </tr>
            </tbody>
          </table>
    </div>
        <div class="table-main">
            <div class="table-brand">
                <div class="table-sticky">
                    <h1>SY 2016-2017</h1>
                    <h1>2ND SEMESTER</h1>
                </div>
            </div>
        <table class="content-table">
            <thead>
            <tr>
                <th>Subject Code</th>
                <th>Units</th>
                <th>Subjects</th>
                <th>Midterm</th>
                <th>Final</th>
            </tr>
            </thead>
            <tbody>
                <tr class="active-row">
                    <td>ACN221</td>
                    <td>3.0</td>
                    <td>Special Topics for Networking</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
            <tr>
                <td>ACN222</td>
                <td>5.0</td>
                <td>ACN Independent Project/Practicum</td>
                <td>-</td>
                <td>3</td>
            </tr>
            <tr class="active-row">
                <td>CoE506</td>
                <td>3.0</td>
                <td>Computer Networks</td>
                <td>F</td>
                <td>3</td>
            </tr>
            <tr>
                <td>CS222</td>
                <td>4.0</td>
                <td>Elementary Computer Programming |||</td>
                <td>F</td>
                <td>1.5</td>
            </tr>
            <tr class="active-row">
                <td>Fil112n</td>
                <td>3.0</td>
                <td>Pagbasa at Pagsula tungo sa Pananaliksik</td>
                <td>F</td>
                <td>1.0</td>
            </tr>
            <tr>
                <td>PE104</td>
                <td>2.0</td>
                <td>Group Sports</td>
                <td>-</td>
                <td>3.0</td>
            </tr>
            <tr class="active-row">
                <td>RS112</td>
                <td>3.0</td>
                <td>The Catholic Church; Establish by Jesus Christ</td>
                <td>WF</td>
                <td>WF</td>
            </tr>
            </tbody>
        </table>
    </div>


    </div>

    <footer class="index-footer">
        <ul class="footer-brand">
            <h1>School Manangement Group:</h1>
            <li>Nimfa Villacampa</li>
            <li>Benedict Mahatma Z. Asmad</li>
            <li>Archie Arthur M. Amparado</li>
            <li>Joseph Adonis B. Alvarez</li>
        </ul>
    </footer>
</div>

    <!--    Admin Link    -->

</body>
</html>