<!--      Home  page     -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home page</title>
</head>
<body>
    <header>
        <h1 class="index-title">Zamboanga Peninsula Polytechnic State University</h1>
        <h1 class="index-title">School Management System</h1>

        <nav class="navbar">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Profile</li>
                <li>ZPPSU</li>
            </ul>
        </nav>
    </header>

    <!--    Admin Link    -->
<a href="/admin">admin</a>
<a href="/logout">bye</a>
</body>
</html>